@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-black text-text-color font-3rd-font;
 
}

/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to top,
        #e84e01 0%,
        #e84e01 50%,
        #000 10%,
        #000 100%
    );
    background-size: 100% 200%;
    animation: backgroundFlow 10s ease-in-out;
    z-index: -1;
    opacity: .9;
} */

@keyframes backgroundFlow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 100%;
    }
}

.hide-scroll {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}


.btn-circle {
    @apply bg-white flex items-center justify-center w-[30px] h-[30px] rounded-full;
}

.btn-circle-alt {
    @apply bg-transparent flex items-center justify-center w-[30px] h-[30px] rounded-full;
}

.btn-circle-primary {
    @apply bg-primary-color flex items-center justify-center w-[40px] h-[40px] rounded-full;
}

.glass{
    @apply bg-white/10 backdrop-blur-[2px] 
}

.g-lay{
    @apply grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] gap-4
}
progress::-webkit-progress-bar {
    background-color: #222223; 
    border-radius: 9999px;
}
progress::-webkit-progress-value {
    border-radius: 9999px; 
    @apply bg-primary-color/80
}
progress::-moz-progress-bar {
    background-color: #1db954;
    border-radius: 9999px; 
}