.main {
	display: grid;
	grid-template-columns: 1fr;

	@media screen and (min-width: 1024px) {
		grid-template-columns: 1.75fr 6.5fr 1.75fr;
	}
}

.default{
    @media screen and (min-width: 1024px) {
		grid-template-columns: 1.75fr 6.5fr 1.75fr;
	}
}

.rightBarActive{

    @media screen and (min-width: 1024px) {
        grid-template-columns: 0fr 6.5fr 1.75fr;
	}
}

.closeRight{
  

    @media screen and (min-width: 1024px) {
        grid-template-columns: 1.75fr 6.5fr 0fr;
	}
}


// :style="{
//     'grid-template-columns'
//         : leftBarActive && rightBarActive
//             ? '1.75fr 6.5fr 1.75fr'
//             : !leftBarActive && rightBarActive
//                 ? '0fr 6.5fr 1.75fr'
//                 : leftBarActive && !rightBarActive
//                     ? '1.75fr 6.5fr 0fr'
//                     : '0fr 6.5fr 0fr'
// }"