.main {
    display: grid;
    grid-template-columns: 1fr;
  
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1.75fr 6.5fr 1.75fr;
    }
  }
  
  .bothActive {
    grid-template-columns: 1.75fr 6.5fr 1.75fr;
  }
  
  .rightActive {
    grid-template-columns: 0fr 6.5fr 1.75fr;
  }
  
  .leftActive {
    grid-template-columns: 1.75fr 6.5fr 0fr;
  }
  
  .noBars {
    grid-template-columns: 0fr 6.5fr 0fr;
  }